/* Header basic setup  */
#headerMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 30px 0px 10px;
  background-color: var(--backGround);
}

/* Logo Img and Name setup */
.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.headerLogo img {
  width: 110px;
}

.headerLogo p {
  font-size: 1.8rem;
}

/* Main navbar menu setup */
header ul,
header li {
  text-decoration: none;
  list-style-type: none;
}

#menu {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s all;
  box-sizing: border-box;
}

#menu li:hover {
  border: 2px solid var(--border);
}

.activePage {
  background-color: var(--border);
  color: var(--text-color);
}

/* Footer setup */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-background);
  color: var(--text-color);
}

footer a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  transition: .3s all;
}

footer a:hover{
    color: rgba(255, 255, 255, 0.7);
}
