.containerMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 30px auto;
}

.menuCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 1px solid lightgray;
}

/* Flp Card styles  */
.flipContainer{
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* the 3D effect */
}

.flipCard {
   position: absolute;
   width: 100%;
  height: 100%;

  transition: transform .5s;
  transform-style: preserve-3d;
}

.flipContainer:hover .flipCard {
  transform: rotateY(180deg);
}

.innerCard img {
  width: 300px;
  height: 300px;
}

/* Position the front and back side */
.innerCard,
.backCard {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.innerCard {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.backCard {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--dancingFont);
  font-size: 1.4rem;
  font-weight: 700;
  transform: rotateY(180deg);
}

.backCard p{
  box-sizing: border-box;
  padding: 8px;
}

.menuCard > p {
  width: 80%;
  text-align: center;
  margin-top: 5px;
  padding: 10px 10px 0px 10px;
  border-top: 2px solid lightgray;
  font-family: var(--dancingFont);
  font-size: 1.5rem;
  font-weight: 700;
}
