@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Fasthand&display=swap');

:root{
  --text-color: white;
  --border: black;
  --backGround: #c3dadf;
  --footer-background: black;
  --innerDiv: #FFE4E1;
  --dancingFont: 'Dancing Script', cursive;
}

html,
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
